/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", serif;
}

/* Hero Section */

.hero-section {
  height: 920px;
  background-image: linear-gradient(
      0deg,
      #101010 -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-section .sub-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-section h1 {
  width: 1000px;
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  margin-top: 16px;
}

.hero-section .description {
  width: 1000px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  opacity: 0.7;
  margin-top: 24px;
}

.hero-section .hero-btn {
  margin-top: 32px;
  padding: 21px 32px;
  border-radius: 8px;
  background: #52c303;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

/* Card Section */

.cardbox-section {
  padding: 140px 0;
}

.cardbox-section .cardbox-top .cardbox-subtitle {
  color: #101010;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}

.cardbox-section .cardbox-top .cardbox-title {
  width: 691px;
  color: #101010;
  text-align: center;
  margin: 16px auto 48px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.cardbox-section .cardbox-cards {
  margin: 0 auto;
  max-width: 1320px;
}

.cardbox-section .cardbox-btn {
  padding: 21px 32px;
  margin: 64px auto 0;
  display: block;
  border-radius: 8px;
  background: #52c303;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardbox-section .cardbox-cards {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cardbox-section .card .card-img {
  border-radius: 16px;
}

.cardbox-section .card .card-btn {
  padding: 14px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  color: #101010;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  display: block;
  margin: 32px auto 24px;
}

.cardbox-section .card .card-title {
  color: #101010;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardbox-section .card .card-description {
  color: #101010;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  opacity: 0.7;
  margin-top: 24px;
  padding: 0 5px;
}

/* About Section */
.about-section {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.about-section .about-img {
  max-width: 960px;
}

.about-section .about-content {
  width: 100%;
}

.about-section .about-content .about-title {
  margin: 0 auto;
  max-width: 805px;
  color: #101010;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.about-section .about-content .about-description {
  color: #101010;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
  margin: 24px auto 48px;
}

.about-section .about-content .about-line {
  border-top: 1px solid rgba(16, 16, 16, 0.2);
}

.about-section .about-content .about-follow {
  margin: 30px auto;
  color: #101010;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-section .about-content .about-social {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 32px auto 0;
}
